
bgc_njtech = #D0E5FB;
njtech_blue = #00ADEE;
btn_blue = #4d8df3;
btn_green = #3ABC70;
btn_orange = #fc7254;
theam_color = #4185F4;

nav {
    backdrop-filter: blur(30px);
    background-color: alpha(bgc_njtech, 0.5);

    .navbar-brand span {
        color: njtech_blue - 10%;
        line-height: 20px;
        font-size: 20px;
        font-weight: 500;
    }

    .nav-item {
        font-size: 15px;
    }
}

.home_page {
    height: 100vh;
    background-color: bgc_njtech;

    .container {
        padding: 30vh 0;

        h2:nth-child(1) {
            font-size: 3rem;
            font-weight: bold;
        }

        h2:nth-child(2) {
            span {
                color: bgc_njtech;
                background-color: njtech_blue + 30%;
                // font-weight: 400;
            }

            font-size: 2rem;
            font-weight: bold;
            color: njtech_blue;
        }

        >.row>div>.row {
            height: 300px;

            .btn-primary {
                color: #FFF;
                background-color: btn_blue;
                border-color: btn_blue;
            }

            .btn-primary:hover {
                background-color: btn_blue - 10%;
                border-color: btn_blue - 10%;
            }

            .btn-success {
                background-color: btn_green;
                border-color: btn_green;
            }

            .btn-success:hover {
                background-color: btn_green - 10%;
                border-color: btn_green - 10%;
            }

            .btn-danger {
                background-color: #ff6745;
                border-color: #ff6745;
            }

            .btn-danger:hover {
                background-color: #e15a3c - 10%;
                border-color: #e15a3c - 10%;
            }

            .btn-primary:focus, .btn-success:focus, .btn-danger:focus {
                box-shadow: 0 0;
            }
        }

        #exhi_img {
            background: url('../images/pc.jpg');
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            height: 300px;

            img {
                animation: move 3s infinite alternate;
                position: absolute;
                top: -15%;
                right: 0;
            }
        }
    }
}

.intro_page {
    padding-top: 4rem;

    h2 span {
        color: theam_color;
    }

    h2+div {
        color: theam_color;
        font-size: 30px;
        font-weight: 500;
        line-height: 10px;
        margin-bottom: 2rem;
    }

    #exhi_img2 {
        animation: move 2s infinite alternate;
    }

    .container .row .row .col>div {
        margin: 15px 0;
        padding: 1rem;
        vertical-align: center;
        border: 1px solid bgc_njtech + 20%;

        div {
            font-size: 18px;
            text-align: center;
            padding-bottom: 0.5rem;
        }

        p {
            font-size: 13px;
            text-align: center;
        }
    }
}

.faq_page {
    padding-top: 4rem;

    h2 span {
        color: theam_color;
    }

    h2+div {
        color: theam_color;
        font-size: 30px;
        font-weight: 500;
        line-height: 10px;
        margin-bottom: 2rem;
    }

    #exhi_img3 {
        animation: move 2s infinite alternate;
    }

    .container .card {
        border-radius: 0;
        margin-bottom: 10px;
        border: none;

        .card-header {
            background-color: #DEEEFC;
            padding: 0;
            border: none;
        }

        .btn {
            height: 52px;
            width: 100%;
            border: 0;
        }

        .btn:hover {
            background-color: #4185F4;
        }

        .btn:focus {
            box-shadow: 0 0;
        }
    }
}

@keyframes move {
    to {
        transform: translateY(20px);
    }
}

@keyframes fromL {
    from {
        transform: translateX(0%);
    }
}

// 移动端响应布局
@media (max-width: 768px) {
    .home_page .container {
        padding: 15vh 0;

        h2:nth-child(1) {
            font-size: 2rem;
        }

        h2:nth-child(2) {
            font-size: 1.2rem;
        }
    }
}

@media (min-width: 768px) {
    .home_page .container {
        h2:nth-child(1) {
            font-size: 2.3rem;
        }

        h2:nth-child(2) {
            font-size: 1.6rem;
        }
    }
}

@media (min-width: 992px) {
    .home_page .container {
        h2:nth-child(1) {
            font-size: 3rem;
        }

        h2:nth-child(2) {
            font-size: 2rem;
        }
    }
}