# Auto detect text files and perform LF normalization
* text=auto
; *.js linguist-detectable=false
docs/lib/* linguist-vendored 
resource_rc.py linguist-vendored


*.html linguist-language=HTML
*.css linguist-language=CSS
*.js linguist-language=JavaScript